@charset "UTF-8";

/*
    Paleta de cores
    Azul escuro: #115DBF
    Azul médio: #4B89BF
    Azul claro: #1EB7D9
    Azul muito claro: #C4F2F2
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #115DBF;
}

main {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

section#login {
    overflow: hidden;
    position: absolute;     
    top: 50%;
    left: 50%;

    background-color: #1EB7D9;
    box-shadow: 0 25px 54px -15px rgba(0,0,0,0.33);
    border-radius: 10px;
    width: 350px;
    height: 570px;
    
    transform: translate(-50%, -50%);    
    transition: width 0.3s, height 0.3s;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.22);
}

section#login p {
    margin: 1em 0 ;
    font-size: 0.8em;
}

div#imagem {
    display: block;
    height: 200px;

    background: #C4F2F2 url(../imagens/piramide.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 20px;
}

div#formulario {
    display: block;
    padding: 1em;
}

div#formulario .campo {
    background-color: #115DBF;
    margin: 8px 0;
    border-radius: 8px;
}

.campo input {
    height:42px;
    width: calc(100% - 49px);
    
    background-color: #C4F2F2;
    border: solid 2px #115DBF;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-4px);

}

input:focus-within {
    background-color: white;
}

label > span {
    width: 40px;
    color: white;
    padding: 10px;
}


input#enviar {
    display: block;
    margin: 20px auto 20px auto;
    width: 90%;
    height: 40px;
    
    font-weight: bolder;
    color: white;

    box-shadow: 0 5px 10px rgba(0,0,0,0.22);
    background-color: #115DBF;
    border: solid 2px #115DBF;
    border-radius: 5px;    
    
    transition-duration: 200ms;
    cursor: pointer;    
}

input#enviar:hover {
    background-color: #C4F2F2;
    color: #115DBF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.46);
}

section#login a {
    display: block;
    
    text-align: center;
    font-size: 0.8em;

    margin-top: 20px;
}